@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

body {
	margin: 0;
	padding: 0;
	background-color: #efeee9;
	color: #222;
	font-family: 'Roboto', 'sans-serif';
}

header {
	width: 100%;
	height: 70vh;
	background: url('../img/header.jpg') no-repeat;
	background-size: cover;
}

nav {
	background-color: rgba(255,255,255,.5);
	height: 15vh;
	text-align: center;
	font-weight: 500;
	text-transform: uppercase;
	width: 100%;
	position: fixed;
	transition: .3s;
}

.navSmall {
	top:0;
	height: 5vh;
	background-color: #fff;
	-webkit-box-shadow: 0px 1px 20px 1px rgba(34,2,0,0.47);
	-moz-box-shadow: 0px 1px 20px 1px rgba(34,2,0,0.47);
	box-shadow: 0px 1px 20px 1px rgba(34,2,0,0.47);
}

ul {
	margin: 0;
	padding: 50px;
	transition: .3s;
}

.ulSmall {
	padding: 10px;
}

ul li {
	display: inline-block;
	letter-spacing: 0.415rem;
}

li a {
	text-decoration: none;
	color: #222222;
	font-size: 0.6rem;
}

li + li {
	margin-left: 10px;
}

#logo {
	font-size: 1rem;
}

#headerText {
	position: relative;
	top: 50vh;
	right: 20vh;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 100;
	font-size: 1rem;
	text-align: right;
}


#textBox {
	background-color: #fff;
	width: 70%;
	margin: 100px auto;
	font-size: 1.2rem;
	letter-spacing: 0.1rem;
	font-weight: 100;
	text-align: center;
}

#textBoxContent {
	padding: 100px;
}

#textBox h2 {
	text-transform: uppercase;
	font-size: 1.6rem;
	font-weight: 100;
	
}

#textBox p {
	margin: 3rem;
	text-align: justify;
}

#textBox button {
	padding: 1em 1.4em 1em 1.4em;
	background-color: #fff;
	border: 2px solid #222;
	text-transform: uppercase;
	font-size: 0.8rem;
	cursor: pointer;
}

#textBox button:hover {
	background-color: #222;
	color: #fff;
}

#portfolio {
	height: auto;
	font-size: 0;
}

.gallery {
	width: 33.333%;
	margin: 0;
	height: 350px;
	display: inline-block;
	font-size: 1rem;
	position: relative;
}

.gallery:before {
	position: absolute;
	content: attr(data-content);
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,.5);
	color: #fff;
	opacity: 0;
	transition: opacity .3s;
}

.gallery:hover:before {
	opacity: 1;
}

#one {
	background: url('../img/1.png');
	background-repeat: no-repeat;
	background-size: cover;
}

#two {
	background: url('../img/2.png');
	background-repeat: no-repeat;
	background-size: cover;
}

#three {
	background: url('../img/3.png');
	background-repeat: no-repeat;
	background-size: cover;
}

#four {
	background: url('../img/4.png');
	background-repeat: no-repeat;
	background-size: cover;
}

#five {
	background: url('../img/5.png');
	background-repeat: no-repeat;
	background-size: cover;
}

#six {
	background: url('../img/6.png');
	background-repeat: no-repeat;
	background-size: cover;
}

#justText {
	width: 70%;
	margin: 150px auto;
	font-size: 1.6em;
	letter-spacing: 0.1em;
	font-weight: 100;
	text-align: center;
}

#justText p {
	padding: 50px;
}

#halfs {
	display: flex;
	height: 500px;
}

.half {
	display: inline-block;
	width: 50%;
}

#halfText {
	background-color: #fff;
	overflow: hidden;
}

#reviews {
	margin: 100px;
}

#reviews h3 {
	font-size: 0.8rem;
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 0.415rem;
}

#reviews p {
	font-size: 0.8rem;
	font-weight: 100;
	letter-spacing: 0.2rem;
}

#reviews h3 + p {
	margin-bottom: 40px;
}

#photo {
	background: url('../img/buttons.png');
	background-repeat: no-repeat;
	background-size: cover;
}

#boxes {
	margin: 5em auto;
	justify-content: space-between;
}

.box + .box {
	margin-left: 5px;
}

.box {
	width: 20%;
	display: inline-block;
	background-color: #fff;
	text-align: center;
	padding: 50px 50px;
}

.box h3 {
	margin-top: 0;
}

.box p {
	font-size: 0.9rem;
	font-weight: 100;
}

.box a {
	color: #4faeff;
}

#contact {
	display: flex;
	height: 500px;
	background-color: #353535;
	color: #fff;
}

.bold {
	font-weight: 700;
}

.smallerContainer {
	margin: 50px 0;
	width: 70%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

#contactInfo {
	width: 300px;
	margin: 100px 0;
	font-weight: 100;
}

#map {
	width: 500px;
	height: 498px;
	border: 1px solid #353535;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	float: right;
}

footer {
	height: 130px;
}

#socialIcons {
	font-size: 1.6rem;
	float: left;
	padding-top: 50px;
}

#socialIcons a, #socialIcons a:hover {
	color: #222;
	text-decoration: none;
}

#copyright {
	float: right;
	padding-top: 50px;
	font-size: 1.2rem;
}
